p {
    margin:0;
}

.title {
    justify-content: center;
    display: flex;
}


.game {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.artistName {
    font-size: 30px;
    margin: 10px;
}

.artistPhoto {
    max-height:300px;
    margin: 0px 20px 20px 20px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* display: block;
    text-align: center; */
}

.guessArea {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

.guessBlock {
    display: flex;
    background-color: gray;
    width: 300px;
    border-radius: 3px;
    margin-bottom: 5px;
    height: 20px;
}


.guessSubmit {
    display: flex;
    max-width: 300px;
}

.guess {
    /* display: flex; */
    width: 300px;
    margin-right: 5px;
}

.guessCount {
    margin-bottom: 5px;
}



.lastfm_user_label, .user_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
